<%- include("partials/header"); -%>

<div class="row mt-3">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">About Me</h5>
        <p class="card-text"><%= aboutContent %></p>
      </div>
    </div>
  </div>
</div>

<%- include("partials/footer"); -%>
